<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.xjtu.se.bookgamma">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="cn.edu.xjtu.se.util.XGApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name=".AddBookActivity"
            android:label="@string/label_add_book"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="cn.edu.xjtu.se.scanner.CaptureActivity"
            android:label="@string/label_scanner" />
        <activity
            android:name=".BookCommentActivity"
            android:label="@string/label_book_list" />
        <activity
            android:name=".CommentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddCommentActivity" />
        <activity
            android:name="cn.edu.xjtu.se.remind.ReadingRemindActivity"
            android:label="@string/action_reading" />
        <activity
            android:name="cn.edu.xjtu.se.remind.AddRemindActivity"
            android:label="@string/add_remind" />
        <activity android:name="cn.edu.xjtu.se.remind.alarm.AlarmActivity" />
        <!-- android:process=":remote": 新开一个进程 -->
        <receiver
            android:name="cn.edu.xjtu.se.remind.alarm.AlarmReceiver"
            android:process=":remote" />

        <activity android:name=".RegActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".ViewCommentActivity"
            android:label="@string/book_comment"/>
    </application>

</manifest>